.border{
    max-width: 1360px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    font: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: #135b31;
}

nav{
    border: 2px solid blue;
    height: 90px;
    font: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menus{
    display: flex;
    gap: 30px;
}